<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>机 器 证 明（迫真）</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/material_icons.css" type="text/css" rel="stylesheet">
    <link href="/static/css/inm.css" type="text/css" rel="stylesheet">
</head>
<body class="blue-grey darken-4">
<nav class="sp-color" id="mobile-nav">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-list" class="button-collapse"><i class="material-icons">menu</i> </a>
        <div class="container">
            <a href="#" class="brand-logo">机 器 证 明（迫真）</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
            <ul class="side-nav" id="mobile-list">
                <li><div class="userView">
                    <div class="container">
                        <div class="background sp-color">
                        </div>
                        <img class="circle" src="/static/img/810.jpg">
                        <span class="white-text name">野兽先辈</span>
                    </div>

                </div> </li>
            </ul>
        </div>
    </div>
</nav>
<div class="parallax-container white-text" id="main-title">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center red-text">迫 真 计 算 器</h1>
            <div class="row center">
                <h5 class="header col s12">为各给野兽学家提供数字证明的利器</h5>
            </div>
            <br><br>
            <div class="center">
                <a onclick="$('html, body').animate({scrollTop: $('#intro').offset().top}, 800, 'swing'); " href="#intro" class="sp-color btn waves-effect waves-light">查看说明</a>
                <a id="begin" onclick="$('html, body').animate({scrollTop: $('#prove').fadeIn().offset().top}, 800, 'swing'); Materialize.updateTextFields()" href="#prove" class="sp-color btn waves-effect waves-light">提出假说（暴论）</a>
            </div>

        </div>
    </div>
</div>
<div class="fixed-action-btn gotop">
    <a class="btn-floating btn-large sp-color waves-effect waves-light" onclick="$('html,body').animate({scrollTop: 0})">
      こ↑こ
    </a>
</div>
<div class="container" style="display: none;" id="prove">
    <div class="row">
        <h2 class="sp-text">要证：</h2>
        <div class="container row white-text">
            <div class="input-field col s4">
                <input id="left" type="number" v-model="inm.eqL" @keyup.enter="inm.eqL && inm.startProve()" class="validate" min="0" required="required">
                <label for="left">风 评 被 害 者</label>
            </div>
            <div class="col s1"><h3>==</h3></div>
            <div class="input-field col s4">
                <input id="right" type="number" v-model="inm.eqR" @keyup.enter="inm.eqR && inm.startProve()" class="validate" min="0" required="required">
                <label for="right">いいよ、来いよ</label>
            </div>
            <div class="col s4">
                <label>红茶什么的有在喝吗</label>
                <div class="switch">
                    <label>
                        我超逊的
                        <input type="checkbox" id="brief" class="validate" v-model="inm.showAll">
                        <span class="lever"></span>
                        开玩笑，我超勇的
                    </label>
                </div>
            </div>
            <div class="input-field col s4" v-show="inm.showAll">
                <input id="limit" type="number" v-model="inm.eqLim" class="validate" min="0" required="required">
                <label for="right">想喝几杯红茶？</label>
            </div>
            <button class="btn-large sp-color waves-effect waves-light" onclick="inm.startProve()">完 全 证 明</button>
            <div id="modal-zero" class="modal blue-grey darken-4">
                <div class="modal-content">
                    <h4 class="sp-text">0杯红茶警告</h4>
                    <p>TON，妄想拒绝先辈的邀请？</p>
                    <p>拒绝了先辈的邀请会发生严重的后果，确定吗？</p>
                    <p>我最喜欢你了！（迫真）</p>
                </div>
                <div class="modal-footer blue-grey darken-4">
                    <button onclick="Materialize.toast('只有红茶了可以吗？', 5141)" class=" modal-action modal-close waves-effect waves-teal white-text btn-flat">是…吗（心虚）</button>
                    <button onclick="inm.startProve(true)" class=" modal-action modal-close waves-effect waves-red btn-flat red-text">是的（确信）</button>
                </div>
            </div>
        </div>
        <div id="main">
            <div v-if="inm.started" class="row">
                <button class="btn-large sp-color waves-effect waves-light" onclick="inm.reset()">立即消失，请</button>
                <h3 class="sp-text">下面开始证明：</h3>
                <h4 class="sp-text" v-if="inm.can">共有{{ inm.can }}种证明方法。</h4>
                <h4 class="sp-text" v-if="inm.can && !inm.showAll">现在简要地显示其中的{{ inm.results.length - 1 }}种。</h4>
                <div v-for="(res, idx) in inm.results" class="col link-card" v-bind:id="`res-${idx}`">
                    <div class="card-pannel hoverable" onclick="inm.selectText(this)">
                        <div class="card-content">
                            <h5 class="sp-text">{{ res }}</h5>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>

<div id="intro">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center sp-text">说明：</h1>
            <div class="row center flow-text white-text">
                <h3 class="sp-text">是不是找到了野兽先辈的新说，却难以做出数字证明？那么迫真计算器将是你的不二之选。</h3>
                <p>输入需要的数字（将忽视字母，留空视为0），再确认限制数量（0为不做限制），这里将计算出部分可能性（想喝几杯红茶），算式可以是四则运算和括号。</p>
                <p>数字将在本地运算，计算复杂度很大（卡顿注意），如果输入过长的数字可能会爆破你的计算机（确信），点击结果即可选择，然后复制</p>
                <p>希望得到精确的分数形式？希望得到超快的计算速度？请移步<a href="https://github.com/Somainer/Inmu-Prove" target="_blank">迫真计算器C++版</a>。</p>
            </div>
            <br><br>
            <div class="row flow-text white-text">
                <h4 class="sp-text">例：</h4>
                <p>要证： 野兽先辈O..O说（正论）</p>
                <p>等价于证明：BigPrime==114514</p>
                <button class="btn-large sp-color waves-effect waves-light" onclick="inm.startExample()">查看样例</button>
                <button class="btn-large sp-color waves-effect waves-light" onclick="$('html, body').animate({scrollTop: 0}, 800, 'swing')">返回</button>
            </div>
            <br><br>
            <div class="row flow-text white-text">
                <h4 class="sp-text">关于算法：</h4>
                <p>终于支持四则运算了！通过表达式树解决了括号问题，是应该好好学习图论了呢（心虚）。</p>
                <p>表达式树的形状是固定的且尽量平衡（再枚举这个，复杂度n!要上天了），在其中的根节点进行状态压缩枚举，复杂度较高，为O(4^n+4^m)</p>
                <p>本代码还有一些不合理的地方，速度并不是最优的（比如有些递归可以减少）。（其实我只是想让代码变短）本身具有一些不合理的写法降低了可读性，同时也有一些很迷的操作，但是我不想改了→_→</p>
            </div>
            <br><br>
        </div>
    </div>
</div>

<footer class="page-footer sp-color">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">迫 真 计 算 器</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy;<script>document.write((new Date()).getFullYear());</script>
            Designed by Somainer, All Rights Reserved
        </div>
    </div>
</footer>


<script defer src="/static/js/jquery-3.2.1.min.js"></script>
<script defer src="/static/js/materialize.min.js"></script>
<script defer src="/static/js/vue.min.js"></script>
<script defer src="/static/js/inm-algo.js"></script>
<script defer src="/static/js/inm.js?v=3"></script>
<script>

</script>
</body>
</html>